# URL базы данных MongoDB
DB_URL=mongodb+srv://username:password@cluster0.mongodb.net/mydb?retryWrites=true&w=majority

# Порт, на котором будет работать сервер
PORT=3030

# Секретный ключ для подписи JWT токенов или других целей
SECRET_KEY=mysecretkey